:root{
    --blue: #1F2937;
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --lightblue: #3882F6;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/RobotoItalic.ttf");
}

@font-face {
    font-family: "RobotoExtraBold";
    src: url("../fonts/RobotoExtraBold.ttf");
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER: ELVIRA */

header {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
}

.header-logo {
    font-size: 24px;
    font-family: "RobotoExtraBold", sans-serif;
    color: var(--white);
}

.header-menu menu{
    display: flex;
    flex-direction: row;
    font-family: "RobotoRegular", sans-serif;
}


header .header-menu li {
    list-style-type: none;
}

header .header-menu li>a {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}
main {
    background-color: var(--blue);
    font-family: "RobotoRegular", sans-serif;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.main-content-info {
    align-content: center;
    padding: 2%;
}

.main-content-info h1 {
   font-size: 48px; 
   font-family: "RobotoExtraBold", sans-serif;
   color: var(--white);
   margin: 5px 0px;
}

.main-content-info p {
    font-size: 18px;
    color: var(--gray);
    margin: 10px 0px;
}

button {
    background-color: var(--lightblue);
    color: var(--white);
    font-size: 18px;
}


/* MAIN: EUGENE */
.about-title {
    font-family: "RobotoExtraBold", sans-serif;
    text-align: center;
    margin: 30px 0;
}

.about-content-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.about-content-item {
    width: 120px;
    height: 150px;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
    font-size: 10px;
    color: #727273;
}

.about-content-item img {
    width: 90px;
    height: 90px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 200px;
    font-family: "RobotoItalic", sans-serif;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 60px;
}

.quote cite {
    text-align: end;
    font-family: "RobotoBold", sans-serif;
}


/* FOOTER: NIELEN*/