:root{
    --blue: #1F2937;
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --lightblue: #3882F6;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/RobotoItalic.ttf");
}

@font-face {
    font-family: "RobotoExtraBold";
    src: url("../fonts/RobotoExtraBold.ttf");
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER: ELVIRA */

header {
    background-color: var(--blue);
}

.header-content-navigation {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-family: "RobotoExtraBold", sans-serif;
    color: var(--white);
}

.header-menu menu{
    display: flex;
    flex-direction: row;
    font-family: "RobotoRegular", sans-serif;
}


header .header-menu li {
    list-style-type: none;
}

header .header-menu li>a {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
}

.header-content-info {
    align-content: center;
    padding: 2%;
}

.header-content-info h1 {
   font-size: 48px; 
   font-family: "RobotoExtraBold", sans-serif;
   color: var(--white);
   margin: 5px 0;
}

.header-content-info p {
    font-size: 18px;
    color: var(--gray);
    padding: 10px 0px;
}

button {
    background-color: var(--lightblue);
    color: var(--white);
    font-size: 18px;
}


/* MAIN: EUGENE */
.about-title {
    font-family: "RobotoExtraBold", sans-serif;
    text-align: center;
    margin: 30px 0;
}

.about-content-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.about-content-item {
    width: 120px;
    height: 150px;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
    font-size: 10px;
    color: #727273;
}

.about-content-item img {
    width: 90px;
    height: 90px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 200px;
    font-family: "RobotoItalic", sans-serif;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 60px;
}

.quote cite {
    text-align: end;
    font-family: "RobotoBold", sans-serif;
}


/* FOOTER: NIELEN*/
.action {
    background-color: var(--lightblue);
    color: var(--white);
    border-radius: 10px;
    padding: 50px 100px;
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.action > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-info h4 {
    font-family: "RobotoExtraBold", sans-serif;
    font-size: 18px;
}

.action-info p {
    font-family: "RobotoRegular", sans-serif;
}
.container > .sign-up-link {
    all: unset;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    padding: 3.5px 20px;
    border: 2px solid var(--white);
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
}
.container > .sign-up-link:hover {
    background-color: var(--white);
    color: var(--lightblue);
    scale: 105%;
}

footer {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5px;
}

footer p {
    font-family: "RobotoRegular", sans-serif;
}



/* ABOUT PAGE: EUGENE */
.aboutPage {
    margin-bottom: 50px;
    padding: 0 20px;
}

.aboutPage-img {
    width: 100%;
    margin-top: 20px;
    opacity: 0.3;
    position: relative;
}

.aboutPage-slogan {
    position: absolute;
    width: 800px;
    top: 30%;
    left: 25%;
    font-size: 50px;
    color: var(--white);
    text-align: center;
}

.aboutPage-title {
    font-size: 30px;
    margin: 40px 0 30px 0;
}

.about article {
    font-size: 20px;
}

.about article p:not(:last-child) {
    padding-bottom: 20px;
}



/* Media Queries */
@media all and (max-width: 750px) {
    .header-content-navigation {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .header-content {
        flex-direction: column;
        gap: 10px;
    }
    .about-content-items {
        flex-direction: column;
    }
    .quote {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 25px;
        padding: 20px 30px;
    }
    .action {
        padding: 20px 50px;
        max-width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .action > .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}